

<div bindonce ng-click="select()" ng-class="{'album-selected': album.selected}" class="thumbnail album-thumbnail" style="width: 150px">
  <div class="album-img" >
    <!-- front content -->
    <img class="album-img" fallback-src="http://ih0.redbubble.net/image.14397632.6337/fc,140x140,brown.u2.jpg" ng-src="{{albumimg}}">
    <div class="album-controls">
      <!-- back contenot -->
      <div class="album-buttons">
        <button ng-click="play()" type="button" class="album-play btn btn-album btn-circle">&nbsp;<span class="glyphicon glyphicon-play"></span></button>
        <button ng-click="add()" type="button" class="btn btn-album btn-circle"><span class="glyphicon glyphicon-plus"></span></button> 
      </div>
    </div>
  </div>
  <div class="caption">
    <h6 class="nobottommargin album-text" bo-text="album.title"></h6>
    <p class="notopmargin smalltext album-text" bo-text="subtitle"/></p>
  </div>
</div>
