<div class="between-navs" >
  <div  class="fill songWidth">
    <h4>
      {{artists.limits.total}} {{artists.limits.total == 1 ? "artist" : "artists"}}
      <small>
        <cycler set="artistSort"/>
        <i ng-show='fetchingArtists' class="fa fa-spinner fa-spin"></i>
      </small>
    </h4>
    <div style="position:absolute; top: 40px; bottom: 0px; width:200px; ">
      <infinite-list request-data="getArtists"  row-template="'<p class=\'song-text\'>{{item.label}}</p>'" refresh="'artistSort.selected'" />
    </div>
  </div>
  <div  class="fill songWidth">
    <h4>
      {{songs.limits.total}} {{songs.limits.total == 1 ? "song" : "songs"}}
      <small>
        <cycler set="songSort"/>
        <i ng-show='fetchingSongs' class="fa fa-spinner fa-spin"></i>
      </small>
    </h4>
    <div style="position:absolute; top: 40px; bottom: 0px; width:200px; ">
      <infinite-list request-data="getSongs" row-template-url="'views/templates/songrow.html'" refresh="'songSort.selected'"/>
    </div>
  </div>
</div>
